@import '../../../scss/animation';

.message-in {
  display: flex;
  justify-content: flex-start;
  position: relative;
  &_content {
    margin-left: 50px;
    .text {
      background-color: var(--color-grey);
      padding: 1rem;
      border-radius: 10px;
      margin-bottom: 0.5rem;
      max-width: 80%;
    }
  }
  .css-0 {
    padding: 1rem;
    background-color: #f1f1f1;
    border-radius: 10px;
    animation: fadeIn 0.5s;
  }

  .avatar {
    position: absolute;
    top: 0px;
    left: 0;
    background-color: lightskyblue;
    transition: all 1s ease;
    transition-property: all;
  }

  .slide-in {
    animation: slideIn 0.3s;
  }

  .move-vertically {
    position: absolute;
    top: calc(100% - 45px);
    left: 0px;
  }
}
