.chat-widget {
  position: relative;
  height: 100%;
  font-size: 1.5rem;
  background-color: white;

  .container {
    padding-top: 6rem;
    height: 100%;
  }
  .input-message {
    position: fixed;
    max-width: 536px;
    width: 100%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
  }
}
