.input-message {
  background-color: white;
  form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .input {
      padding: 1rem;
      font-size: 1.6rem;
      flex: 1 1;
    }
    .submit-button {
      width: 56px;
    }
  }
}
